*.iml
.gradle
/local.properties
/.idea/.name
/.idea/deploymentTargetDropDown.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore OpenCV folder and zip files for reduce git repository size
opencvsdk460/
opencvsdk470/
opencvsdk480/

OpenCV-android-sdk/
opencv-4.6.0-android-sdk.zip
opencv-4.7.0-android-sdk.zip
opencv-4.8.0-android-sdk.zip
OpenCV4Android.zip
# Ignore zip files, because setupOpenCV.sh will download a zip file
*.zip
